<!doctype html>
<html lang="en">
  <head>
    <title>Movie Info</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <style>
    body{
        margin: 0 0 0 0;
        background-size: cover;
        background-position: center;
        background-image: url('<%= backdrop %>');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    </style>
  </head>
  <body onload="buildinfo()">
      <% include ../partials/header %>
      <div class="movedarkbox"></div>
      <div class="backdrop">
          <div class="darkbox row">
            <img src="<%= poster %>" class="poster">
            <div class="movieinfo col-md-6 col-11">
                <h2 class='movietitle'><%= name %></h2>
                <h5 style="margin-top: 20px;">Overview</h5>
                <p style="margin-top: 15px;"><%= description %></p>
                <h5 style="margin-top: 35px; margin-bottom: -20px; margin-left: 12px;">Rating</h5>
                <div id="chart">
                    <canvas id="votes" height="75" width=auto><%= voteavg %></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="drinkinfo">
        <div class="row">
            <!-- <div class="col-1"></div> -->
            <div class="col-lg-7 col-12">
                <h2 class="drinktitle">Margarita!</h2>
                <div class="drinkdetails">
                    <div class="ingredients col-xl-4 col-11">
                        <h3 style="margin-left: 23px; color: white;">Ingredients</h3>
                        <ul>
                            <li>1 1/2 oz Tequila</li>
                            <li>1 oz Blue Curacao</li>
                            <li>1 oz Lime juice</li>
                            <li>Coarse Salt</li>
                        </ul>
                    </div>
                    <div class="recipe">
                        <h3>Recipe</h3>
                        <p class="col-lg-12 col-11">Rub the rim of the glass with the lime slice to make the salt stick to it. Take care to moisten only the outer rim and sprinkle the salt on it. The salt should present to the lips of the imbiber and never mix into the cocktail. Shake the other ingredients with ice, then carefully pour into the glass.</p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <img class="cocktailphoto" src="https://www.thecocktaildb.com/images/media/drink/wpxpvu1439905379.jpg">
            </div>
        </div>
    </div>
      <% include ../partials/footer %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        console.log(<%= voteavg %>);
        new Chart(document.getElementById("votes"), {
            type: 'pie',
            data: {
            labels: [],
            datasets: [{
                label: "Didn\'t like it', 'Liked it",
                backgroundColor: ["rgba(0, 0, 51, .0)", "#8e5ea2"],
                data: [10 - <%= voteavg %>, <%= voteavg %>]
            }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: true,
                display: true,
                title: {
                    text: ''
                }
            }
        });
        Chart.defaults.global.legend.display = false;
            </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <% include script.ejs %>
</body>
</html>