<!doctype html>
<html lang="en">
  <head>
    <title>Movie Info</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <style>
    body{
        margin: 0 0 0 0;
        background-size: cover;
        background-position: center;
        background-image: url('<%= backdrop %>');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    </style>
  </head>
  <body onload="buildinfo()">
      <% include ../partials/header %>
      <div class="movedarkbox"></div>
      <div class="backdrop">
          <div class="darkbox row">
            <img src="<%= poster %>" class="poster">
            <div class="movieinfo col-md-6 col-11">
                <h2 class='movietitle'><%= name %></h2>
                <h5 style="margin-top: 20px;">Overview</h5>
                <p style="margin-top: 15px;"><%= description %></p>
                <h5 style="margin-top: 35px; margin-bottom: -20px; margin-left: 12px;">Rating</h5>
                <div id="chart">
                    <canvas id="votes" height="75" width=auto><%= voteavg %></canvas>
                </div>
                <p id="theGenre">"<% console.log(genre) %>"</p>
            </div>
        </div>
    </div>
    <div class="drinkinfo">
        <div class="row">
            <!-- <div class="col-1"></div> -->
            <div class="col-lg-7 col-12">
                <h2 class="drinktitle" id="drinkTitle"></h2>
                <div class="drinkdetails">
                    <div class="ingredients col-xl-4 col-11">
                        <h3 style="margin-left: 23px; color: white;">Ingredients</h3>
                        <ul id="ingredientList" style="color: white;">
                        </ul>
                    </div>
                    <div class="recipe">
                        <h3>Recipe</h3>
                        <p id="recipe" class="col-lg-12 col-11"></p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <img class="cocktailphoto"  id="drinkPhoto" src="">
            </div>
        </div>
    </div>
      <% include ../partials/footer %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        var genrename = "";
        if ((<%= genre %>) == 28){
            genrename = "Action"
        }
        else if ((<%= genre %>) == 12){
            genrename = "Adventure"
        }
        else if ((<%= genre %>) == 16){
            genrename = "Animation"
        }
        else if ((<%= genre %>) == 35){
            genrename = "Comedy"
        }
        else if ((<%= genre %>) == 80){
            genrename = "Crime"
        }
        else if ((<%= genre %>) == 99){
            genrename = "Documentary"
        }
        else if ((<%= genre %>) == 18){
            genrename = "Drama"
        }
        else if ((<%= genre %>) == 10751){
            genrename = "Family"
        }
        else if ((<%= genre %>) == 14){
            genrename = "Fantasy"
        }
        else if ((<%= genre %>) == 36){
            genrename = "History"
        }
        else if ((<%= genre %>) == 27){ 
            genrename = "Horror"
        }
        else if ((<%= genre %>) == 10402){
            genrename = "Music"
        }
        else if ((<%= genre %>) == 9648){
            genrename = "Mystery"
        }
        else if ((<%= genre %>) == 10749){
            genrename = "Romance"
        }
        else if ((<%= genre %>) == 878){
            genrename = "Science Fiction"
        }
        else if ((<%= genre %>) == 10770){
            genrename = "TV Movie"
        }
        else if ((<%= genre %>) == 53){
            genrename = "Thriller"
        }
        else if ((<%= genre %>) == 10752){
            genrename = "War"
        }
        else if ((<%= genre %>) == 37){
            genrename = "Western"
        }
        console.log(<%= voteavg %>);
        new Chart(document.getElementById("votes"), {
            type: 'pie',
            data: {
            labels: [],
            datasets: [{
                label: "Didn\'t like it', 'Liked it",
                backgroundColor: ["rgba(0, 0, 51, .0)", "#8e5ea2"],
                data: [10 - <%= voteavg %>, <%= voteavg %>]
            }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: true,
                display: true,
                title: {
                    text: ''
                }
            }
        });
        Chart.defaults.global.legend.display = false;
        
        function getLiquor(){
            if (genrename == "Action") {
                return "scotch"
            } else if (genrename == "Adventure") {
                return "tequila"
            } else if (genrename == "Animation") {
                return "rum";
            } else if (genrename == "Comedy") {
                return "beer"
            } else if (genrename == "Crime") {
                return "Rum"
            } else if (genrename == "Documentary") {
                return "Brandy"
            } else if (genrename == "Drama") {
                return "Wine"
            } else if (genrename == "Family") {
                return "cachaca"
            } else if (genrename == "History") {
                return "gin"
            } else if (genrename == "Horror") {
                return "vodka"
            } else if (genrename == "Music") {
                return "vermouth"
            } else if (genrename == "Mystery") {
                return "cognac"
            } else if (genrename == "Romance") {
                return "wine"
            } else if (genrename == "Science Fiction") {
                return "mezcal"
            } else if (genrename == "TV Movie") {
                return "mezcal"
            } else if (genrename == "Thiller") {
                return "gin"
            } else if (genrename == "War") {
                return "whiskey"
            } else if (genrename == "Wester") {
                return "whiskey"
            } else if (genrename == "Fantasy") {
                return "absinthe";
            } 
        }
        var url = "https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=";
        console.log(url + getLiquor());
        $.get(url + getLiquor())
        .done(function(response) {
            console.log(response);
            var drinklength = response["drinks"].length;
            var randomNum = Math.floor(Math.random() * drinklength);
            var randomDrink = response.drinks[randomNum];
            var drinkID = randomDrink.idDrink;
            sessionStorage.setItem("drinkID", drinkID);
        })

        .fail(function(error){
            console.log(error);
        });

        // function updateUISuccess(response){
            
        // }
        var drinkID = sessionStorage.getItem('drinkID')
        console.log(drinkID);
        $.get("https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=" + drinkID)
        .done(function(res) {
        updateUISuccess(res)
        })

        .fail(function(error){
            console.log(error);
        });
        function updateUISuccess(res){
            console.log(res.drinks[0].strDrink);
            console.log(res.drinks[0].idDrink);
            var drinkTitle = document.getElementById("drinkTitle");
            var ingredientList = document.getElementById("ingredientList");
            var recipe = document.getElementById("recipe");
            drinkTitle.textContent = res.drinks[0].strDrink + "!";
            recipe.textContent = res.drinks[0].strInstructions;
            var theDrink = res.drinks[0];
            var ingredients = [];
            var measure = [];
            // not sure why but this doesnt work with 'else if'
            if (theDrink.strMeasure1 != ""){
                measure.push(theDrink.strMeasure1);
            }
            if (theDrink.strMeasure2 != ""){
                measure.push(theDrink.strMeasure2);
            }
            if (theDrink.strMeasure3 != ""){
                measure.push(theDrink.strMeasure3);
            } 
            if (theDrink.strMeasure4 != ""){
                measure.push(theDrink.strMeasure4);
            } 
            if (theDrink.strMeasure5 != ""){
                measure.push(theDrink.strMeasure5);
            }
            if (theDrink.strMeasure6 != ""){
                measure.push(theDrink.strMeasure6);
            }
            if (theDrink.strMeasure7 != ""){
                measure.push(theDrink.strMeasure7);
            }
            if (theDrink.strMeasure8 != ""){
                measure.push(theDrink.strMeasure8);
            }
            if (theDrink.strMeasure9 != ""){
                measure.push(theDrink.strMeasure9);
            }

            if (theDrink.strIngredient1 != ""){
                ingredients.push(theDrink.strIngredient1);
                var li1= document.createElement("li");
                li1.textContent = measure[0] + " " + ingredients[0];
                ingredientList.append(li1);
            }
            if (theDrink.strIngredient2 != ""){
                ingredients.push(theDrink.strIngredient2);
                var li2= document.createElement("li");
                li2.textContent = measure[1] + " " + ingredients[1];
                ingredientList.append(li2);
            }
            if (theDrink.strIngredient3 != ""){
                ingredients.push(theDrink.strIngredient3);
                var li3= document.createElement("li");
                li3.textContent = measure[2] + " " + ingredients[2];
                ingredientList.append(li3);
            } 
            if (theDrink.strIngredient4 != ""){
                ingredients.push(theDrink.strIngredient4);
                var li4= document.createElement("li");
                li4.textContent = measure[3] + " " + ingredients[3];
                ingredientList.append(li4);
            } 
            if (theDrink.strIngredient5 != ""){
                ingredients.push(theDrink.strIngredient5);
                var li5= document.createElement("li");
                li5.textContent = measure[4] + " " + ingredients[4];
                ingredientList.append(li5);
            }
            if (theDrink.strIngredient6 != ""){
                ingredients.push(theDrink.strIngredient6);
                var li6= document.createElement("li");
                li6.textContent = measure[5] + " " + ingredients[5];
                ingredientList.append(li6);
            }
            if (theDrink.strIngredient7 != ""){
                ingredients.push(theDrink.strIngredient7);
                var li7= document.createElement("li");
                li7.textContent = measure[6] + " " + ingredients[6];
                ingredientList.append(li6);
            }
            if (theDrink.strIngredient8 != ""){
                ingredients.push(theDrink.strIngredient8);
                var li8= document.createElement("li");
                li8.textContent = measure[7] + " " + ingredients[7];
                ingredientList.append(li8);
            }
            if (theDrink.strIngredient9 != ""){
                ingredients.push(theDrink.strIngredient9);
                var li9= document.createElement("li");
                li9.textContent = measure[8] + " " + ingredients[8];
                ingredientList.append(li9);
            }
            console.log(ingredients);
            drinkPhoto.setAttribute("src", theDrink.strDrinkThumb)
        }
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <% include script.ejs %>
</body>
</html>